/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #7580d1;
    color: white;
    margin-top: 50px;
}
.header {
    padding: 15px;
    background-color: #7580d1;
    color: white;
}

.header button {
    float: right;
    border: 0;
    border-radius: 20px;
    background-color: #060f4f;
    color: white;
    padding: 7px;
    margin-top: -7px;
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: white;
}

/*LOG IN PAGE*/

.login h1 {
    background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 20px/1 "Open Sans", sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
}

.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 270px;
    margin: 80px auto 0;
    width: 298px;
}
.login input[type="password"],
.login input[type="email"] {
    background: url("http://i.minus.com/ibhqW9Buanohx2.png") center left
            no-repeat,
        linear-gradient(top, #d6d7d7, #dee0e0);
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}
.login input[type="password"]:focus,
.login input[type="email"]:focus {
    box-shadow: 0 0 5px 2px rgba(55, 166, 155, 0.3);
    outline: 0;
}

.login button[type="submit"] {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(top, #3db0a6, #3111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78,
        0px 10px 5px #999;
}

.login button[type="submit"]:active {
    top: 3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d,
        0px 5px 3px #999;
}

.invalid-msg {
    margin-top: 40px;
    text-align: center;
    color: red;
}

/*TASKS*/

.tasks {
    margin-bottom: 50px;
}

.task {
    margin: auto 15px;
    display: grid;
    grid-template-columns: 3% 20% 8% 15%;
}

/*USERS*/

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.users .user {
    margin: 20px auto 15px auto;
    text-align: center;
}

.users .user img {
    display: block;
    margin: 0px auto 8px auto;
    border-radius: 40px;
    width: 60px;
}
