/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #298fca;
    color: white;
    margin-top: 50px;
}
.header {
    padding: 15px;
    background-color: #298fca;
    color: white;
}

.header button {
    font-size: 1.05rem;
    float: right;
    border: 0;
    border-radius: 20px;
    background-color: #e4f0f6;
    color: #298fca;
    padding: 7px;
    margin-top: -10px;
    margin-right: 20px;
    cursor: pointer;
}

.header span {
    margin-left: 20px;
}

/*---------------------POPUP---------------------*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.55);
}

.popup_inner {
    position: absolute;
    left: 27%;
    right: 27%;
    top: 15%;
    /* bottom: 15%; */
    margin: auto;
    background: white;
    border-radius: 5px;
}

.popup_inner h1 {
    color: #298fca;
    font-size: 1.53em;
    font-weight: bold;
    margin-bottom: 5px;
}

.pop-info {
    background-color: #51e898;
    padding: 25px 25px 20px 25px;
}

.pop-company {
    color: #ffab4a;
    font-size: 1rem;
    margin-bottom: 10px;
}

.pop-email,
.pop-user-name,
.pop-phone {
    font-size: 0.9rem;
    color: #42464b;
    margin-bottom: 3px;
}

.pop-tasks-container {
    background-color: #d3f6e4;
    padding: 20px 25px 25px 25px;
}

.pop-tasks {
    color: #298fca;
}

/*LOG IN PAGE*/

.login h1 {
    background-image: linear-gradient(to bottom, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 20px/1 "Open Sans", sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
}

.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 270px;
    margin: 80px auto 0;
    width: 298px;
}
.login input[type="password"],
.login input[type="email"] {
    background: url("http://i.minus.com/ibhqW9Buanohx2.png") center left
            no-repeat,
        linear-gradient(to bottom, #d6d7d7, #dee0e0);
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}
.login input[type="password"]:focus,
.login input[type="email"]:focus {
    box-shadow: 0 0 5px 2px rgba(55, 166, 155, 0.3);
    outline: 0;
}

.login button[type="submit"] {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(to bottom, #3db0a6, #3111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78,
        0px 10px 5px #999;
}

.login button[type="submit"]:active {
    top: 3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d,
        0px 5px 3px #999;
}

.invalid-msg {
    margin-top: 40px;
    text-align: center;
    color: #eb5a46;
}

/*TASKS*/

.tasks-container {
    display: grid;
    grid-template-columns: 45% 10% 38%;
    background-color: #e2e4e6;
}

.tasks-container button {
    cursor: pointer;
}

.tasks-container .tasks {
    margin-left: 35px;
    margin-bottom: 50px;
    grid-column-start: 1;
    grid-row-start: 1;
}

.tasks-container .tasks .task {
    margin: 20px auto;
    padding: 14px;
    display: grid;
    grid-template-areas:
        "t t t t t t t x"
        "c . . . s s s .";
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.tasks-container .tasks .task .input-checkbox {
    display: block;
    margin: auto;
    grid-area: c;
}

.tasks-container .tasks .task .input-checkbox label {
    margin-left: 3px;
}

.tasks-container .tasks .task select {
    padding: 0 15px;
    height: 30px;
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: #298fca;
    color: white;
    grid-area: s;
}

.tasks-container .tasks .task button {
    justify-self: end;
    height: 40%;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 900;
    border: none;
    background-color: transparent;
    color: #eb5a46;
    grid-area: x;
}

.tasks-container .tasks .task textarea {
    height: 38px;
    padding: 5px;
    font-size: 1.25rem;
    grid-area: t;
    margin-bottom: 10px;
}

.tasks-container .new-task {
    margin: 20px 10px;
    grid-column-start: 3;
}

.tasks-container .new-task textarea {
    padding: 5px;
    display: block;
    margin: 0 auto 8px auto;
    width: 100%;
    height: 80px;
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.tasks-container .new-task select {
    font-size: 1rem;
    height: 44px;
    border: none;
    background-color: #298fca;
    color: white;
    display: block;
    padding: 0 30px;
    margin: auto;
    width: 50%;
    float: left;
}

.tasks-container .new-task button {
    font-size: 1.3rem;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 40%;
    height: 40px;
    position: static;
    opacity: 1;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    border: 2px solid rgb(97, 189, 79);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: rgb(97, 189, 79);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #edeff0;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.tasks-container .new-task button:hover {
    color: rgba(255, 255, 255, 1);
    background: rgb(97, 189, 79);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0),
        color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0),
        border-width 0.3s cubic-bezier(0, 0, 0, 0),
        border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

/*USERS*/

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    background-color: #e2e4e6;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.users .user {
    margin: 20px auto 15px auto;
    text-align: center;
}

.users .user img {
    display: block;
    margin: 0px auto 8px auto;
    border-radius: 40px;
    width: 60px;
}
